
#bio {
    max-width: 360px;
}

.column {
    padding: 0 1.5em;
    display: block;
    float: left;
    min-width: 360px;
}

h1 {
    font-weight: normal !important;
}

#content {
    padding: 1em;
    display: flex;
    width: 100%;
}

#footer {
    padding: 2em 3.86em;
    margin: 0;
}

#header {
    width: 100%;
    margin-bottom: 2.5em;
}

#desc1, #desc2 {
    float: left;
    min-width: 360px;
    max-width: 400px;
    padding: 0 5% 0 0;
}

#info {
    max-width: 900px;
}

#nav1 h1 {
    display: inline;
}

#nav1 ul {
    float: right;
    padding-top: 0.8em !important;
}

#header #nav1 {
  color: #a9b5ae;
  letter-spacing: 0.01em;
  font-weight: 200;
  font-style: normal;
  font-size: 0.8rem;
}
#header #nav1 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 15px;
}
#header #nav1 ul a {
  margin-right: 15px;
  color: color-accent-1;
}

#nav1 ul li {
  display: inline-block;
  margin-right: 15px;
  /* border-right: 1px solid #a9b5ae; */
  vertical-align: middle;
}

#nav1 ul li:last-child {
  margin-right: 0;
  border-right: 0;
}

/* @media (min-width: 720px) {
    #bio {
        max-width: 400px;
    }
} */

@media screen and (max-width: 900px) {
    #content {
        display: block;
        padding: 1em 0;;
    }

    #bio, #info {
        display: block;
        float: none;
        width: 100%;
    }
}

.post-item p {
    margin: 0;
}

p {
    font-size: 1em;
}

#title {
    float: left;
}

span {
    color: #809287;
}
