// by @sergodeeva (https://github.com/sergodeeva)
$color-background = #FFFFFF
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgba(128, 146, 135, 0.8)
$color-text = #383838
$color-accent-3 = #67786e
$color-accent-2 = #383838
$color-accent-1 = #809287
$color-quote = #809287
$highlight = hexo-config("highlight") || "atelier-cave-light"
