#about-header {
  margin: 0 auto 4rem;
  width: 100%;
  display: none;
}
#about-header h1,
#about-header .h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #383838;
  letter-spacing: 0.01em;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.4rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
#about-header a {
  background: none;
  color: inherit;
  text-decoration: none;
}
#about-header #logo {
  display: inline-block;
  float: left;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  filter: grayscale(100%);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
}
#about-header #nav {
  color: #a9b5ae;
  letter-spacing: 0.01em;
  font-weight: 200;
  font-style: normal;
  font-size: 0.8rem;
}
#about-header #nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 15px;
}
#about-header #nav ul a {
  margin-right: 15px;
  color: color-accent-1;
}
#about-header #nav ul a:hover {
  background-image: linear-gradient(transparent, transparent 5px, #a9b5ae 5px, #a9b5ae);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}
#about-header #nav ul li {
  display: inline-block;
  margin-right: 15px;
  /* border-right: 1px solid #a9b5ae; */
  vertical-align: middle;
}
#about-header #nav ul .icon {
  display: none;
}
#about-header #nav ul li:last-child {
  margin-right: 0;
  border-right: 0;
}
#about-header #nav ul li:last-child a {
  margin-right: 0;
}
#about-header:hover #logo {
  filter: none;
  -webkit-filter: none;
}
@media screen and (max-width: 480px) {
  #about-header #title {
    display: table;
    margin-right: 5rem;
    min-height: 50px;
  }
  #about-header #title h1 {
    display: table-cell;
    vertical-align: middle;
  }
  #about-header #nav ul a:hover {
    background: none;
  }
  #about-header #nav ul li {
    display: none;
    border-right: 0;
  }
  #about-header #nav ul li.icon {
    position: absolute;
    top: 77px;
    right: 1rem;
    display: inline-block;
  }
  #about-header #nav ul.responsive li {
    display: block;
  }
  #about-header #nav li:not(:first-child) {
    padding-top: 1rem;
    padding-left: 70px;
    font-size: 1rem;
  }
}

#bio {
    max-width: 360px;
}

.column {
    padding: 0 1.5em;
    display: block;
    float: left;
    min-width: 360px;
}

h1 {
    font-weight: normal !important;
}

#content {
    padding: 1em;
    display: flex;
    width: 100%;
}

#footer {
    padding: 2em 3.86em;
    margin: 0;
}

#header {
    width: 100%;
    margin-bottom: 2.5em;
}

#desc1, #desc2 {
    float: left;
    min-width: 360px;
    padding: 0 5% 0 0;
}

#desc1 {
    max-width: 50%;
}

/* #info {
    max-width: 900px;
} */

#info.about {
    min-width: 360px;
    width: 100%;
}

#nav1 h1 {
    display: inline;
}

#nav1 ul {
    float: right;
    padding-top: 0.8em !important;
}

#nav1 {
  color: #a9b5ae;
  letter-spacing: 0.01em;
  font-weight: 200;
  font-style: normal;
  font-size: 0.8rem;
}

#nav1 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 15px;
}

#nav1 ul a {
  margin-right: 15px;
  color: color-accent-1;
}

#nav1 ul li {
  display: inline-block;
  margin-right: 15px;
  /* border-right: 1px solid #a9b5ae; */
  vertical-align: middle;
}

#nav1 ul li:last-child {
  margin-right: 0;
  border-right: 0;
}

/* @media (min-width: 720px) {
    #bio {
        max-width: 400px;
    }
} */

@media screen and (max-width: 1300px) {
    #content {
        display: block;
        padding: 1em 0;;
    }

    #bio {
        display: none;
    }

    #about-header {
        display: unset;
    }
}

@media screen and (max-width: 800px) {
    #content {
        display: block;
        padding: 1em 0;;
    }

    #bio {
        display: none;
    }

    #about-header {
        display: unset;
    }

    #info, #desc1, #desc2 {
        display: block;
        float: none;
        width: 100%;
    }
}

.post-item p {
    margin: 0;
}

p {
    font-size: 1em;
}

#title {
    float: left;
}

span {
    color: #809287;
}